this["JST"] = this["JST"] || {};
this["JST"]["MD"] = this["JST"]["MD"] || {};

this["JST"]["MD"]["test/fixtures/one.md"] = function(obj) {
obj || (obj = {});
var __t, __p = '';
with (obj) {
__p += '<h2 id="this-is-a-test">This is a test</h2>\n<p>There is stuff here</p>';

}
return __p
};
